.index-page {
    font-size: 24px;
}

.tabs {
    position: relative;
    display: flex;
    gap: 2em;
    margin-bottom: 24px;
    border-bottom: none;
}

.tabs::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100vw;
    border-bottom: 1px solid var(--gray-400);
    transform: translateX(-50%);
}

.tab-link {
    color: var(--gray-600);
    font-weight: 700;
    padding: 8px 0;
}

.tab-link.is-active {
    color: var(--red);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 290px));
    gap: 16px;
    margin: 0 auto;
    justify-content: start;
}

.card {
    background: var(--gray-100);
    border-radius: 3px;
    padding: 2px 2px 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-self: start;
}

@media (max-width: 1240px) {
    .card-grid {
        grid-template-columns: repeat(3, minmax(0, 290px));
    }
}

@media (max-width: 940px) {
    .card-grid {
        grid-template-columns: repeat(2, minmax(0, 290px));
    }
}

@media (max-width: 620px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

.card-image {
    position: relative;
    overflow: hidden;
    background: var(--gray-200);
    border-radius: 6px;
    aspect-ratio: 1 / 1;
    height: auto;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image .badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10% 0 0 8%;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    font-size: 24px;
    background: var(--red);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    overflow: hidden;
    z-index: 2;
}

.card-image-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    height: 42px;
    display: flex;
    align-items: center;
}

@media (max-width: 900px) {
    .index-page {
        font-size: 18px;
    }

    .tab-link {
        font-size: 20px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-image .badge {
        font-size: 24px;
        padding: 10% 0 0 8%;
    }

}
