/node_modules
/public/hot
/public/storage
/public/items/*
!/public/items/.gitignore
/public/profiles/*
!/public/profiles/.gitignore
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
